<h4>Dear <%= @user.fname %> <%= @user.lname %>,</h4>
<p>You have pending course evaluations at www.truereaction.com. Take the time to make sure that your voice is heard.</p>
<p>This is your last chance. Evaluations will close at midnight.</p>